form(action="/api/login" method="POST")
      h2 Login
      label(for="email") Email
      </br>
      input(type="text" name="email" )
      </br>
      label(for="password") Password
      </br>
      input(type="password" name="password" )
      </br>
      </br>
      input.button(type="submit" value="Login")
input.button(type="submit" value="Register" onclick="getRegister()")

script.
  function getRegister() {
    window.location.href = '/register'
  }
