form(action="/api/getPhotos" method="POST")
      h2 Use Postman to upload and delete
      //- h2 Photo form
      //- label(for="profile") Photo
      //- </br>
      //- input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg", multiple='')
      //- </br>
      //- </br>
      //- label(for="name") Name
      //- </br>
      //- input(type="text" name="name" )
      //- </br>
      //- </br>
      //- input.button(type="submit" value="Submit")