form(action="/api/register" method="POST")
      h2 Register
      label(for="name") First Name
      </br>      
      input(type="text" name="first-name" )
      </br>
      label(for="name") Last Name
      </br>
      input(type="text" name="last-name" )
      </br>
      label(for="email") Email
      </br>
      input(type="text" name="email" )
      </br>
      label(for="mobile") Mobile
      </br>
      input(type="tel" name="mobile" )
      </br>
      label(for="password") Password
      </br>
      input(type="password" name="password" )
      </br>
      </br>
      input.button(type="submit" value="Register")